In [6]:
docA = "the cat sat on my face"
docB = "the dog sat on my bed"

In [7]:
bowA = docA.split(" ")
bowB = docB.split(" ")

In [8]:
bowB

['the', 'dog', 'sat', 'on', 'my', 'bed']

In [9]:
wordset = set(bowA).union(set(bowB))

In [10]:
wordset

{'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat', 'the'}

In [13]:
wordDictA = dict.fromkeys(wordset,0)
wordDictB = dict.fromkeys(wordset,0)

In [14]:
wordDictA

{'face': 0, 'sat': 0, 'cat': 0, 'bed': 0, 'the': 0, 'dog': 0, 'my': 0, 'on': 0}

In [15]:
wordDictB

{'face': 0, 'sat': 0, 'cat': 0, 'bed': 0, 'the': 0, 'dog': 0, 'my': 0, 'on': 0}

In [16]:
#now I will count the words in my bag
for word in bowA:
    wordDictA[word]+=1
for word in  bowB:
    wordDictB[word]+=1

In [17]:
import pandas as pd
pd.DataFrame([wordDictA,wordDictB])

   bed  cat  dog  face  my  on  sat  the
0    0    1    0     1   1   1    1    1
1    1    0    1     0   1   1    1    1

Boom we got it

## TF-IDF

tf(w) * idf(w)

In [18]:
def computeTF(wordDict,bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/ float(bowCount)
    return tfDict

In [19]:
tfBowA = computeTF(wordDictA,bowA)
tfBowB = computeTF(wordDictB,bowB)

In [20]:
tfBowA

{'face': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'cat': 0.16666666666666666,
 'bed': 0.0,
 'the': 0.16666666666666666,
 'dog': 0.0,
 'my': 0.16666666666666666,
 'on': 0.16666666666666666}

In [25]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    idfDict = dict.fromkeys(docList[0].keys(),0)
    for doc in docList: 
        for word, val in doc.items():
            if val > 0: 
                idfDict[word]+=1
    for word, val in idfDict.items():
        idfDict[word] = math.log(N /float(val))
    return idfDict

In [26]:
idfs = computeIDF([wordDictA,wordDictB])

In [27]:
def computeTDIDF(tfBow,idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [28]:
tfidfBowA = computeTDIDF(tfBowA, idfs)
tfidfBowB = computeTDIDF(tfBowB,idfs)

In [29]:
import pandas as pd
pd.DataFrame([tfidfBowA,tfidfBowB])

        bed       cat       dog      face   my   on  sat  the
0  0.000000  0.115525  0.000000  0.115525  0.0  0.0  0.0  0.0
1  0.115525  0.000000  0.115525  0.000000  0.0  0.0  0.0  0.0